{% load static %}
<html>
    <head>
        <title>League</title>
        <script src="https://unpkg.com/htmx.org@1.9.9"></script>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@3.2.1/dist/full.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css" />
    </head>
    <body>
        {% block template %}
        {% endblock %}
    </body>
</html>